package routes

import (
	"github.com/gofiber/fiber/v2"
	"github.com/julhan07/infrastructure-be/pgx"
)

func RunRoutes(app *fiber.App, pgx *pgx.Pgx) {
	// Define your routes and handlers here
	app.Get("/", func(c *fiber.Ctx) error {
		return c.SendString("Hello, World!")
	})

    // Register routes here
	{{- range .Routers}}
	New{{.}}Router(app, pgx)
	{{- end}}
}
